$fe-dark: #351F39;
$fe-color:#726A95;
$fe-alt-color:#709FB0;
$fe-light: #A0C1B8;
$fe-alt-light: #F4E8C1;
$header-text-color: #726A95;
$text-color: #351F39;
$quote-color: #709FB0;
$quote-trimmings-color: #7a7a7a;

